<div class="auction-container">
    <div class="auction-list">
        @for (auction of auctionList; track auction) {
        <div class="auction-info">
            <!-- <div>
        <h1>{{ auction.id }}</h1>
      </div> -->
            <div>
                <mat-icon>badge</mat-icon>
                {{ auction.product.name }}
            </div>
            <div>
                <mat-icon>source</mat-icon>
                {{ auction.product.brand }}
            </div>
            <div>
                <mat-icon>bolt</mat-icon>
                Max bid: {{ auction.currentBid }}
            </div>
            <div>
                <mat-icon>paid</mat-icon>
                Product price: {{auction.product.price}}
            </div>

            <div class="bid" (click)="handleView('bid', auction.id)">
                <mat-icon>hail</mat-icon>
                Bids: {{ auction.bids.length }}
            </div>
            <div class="comment" (click)="handleView('comment',auction.id)">
                <mat-icon>comment</mat-icon>
                Comments: {{ auction.comments.length }}
            </div>
            <div class="category">
                <mat-icon>style</mat-icon>
                @if (auction.product.categories.length > 0) {
                <ul>
                    @for (category of auction.product.categories; track $index) {
                    <li>{{ category }}</li>
                    }
                </ul>
                }
            </div>
        </div>
        }
    </div>

    <div class="auction-view">
        @switch (view) {

        @case ('bid') {
        <div class="bid-info">
            @if (auction.bids.length > 0) {
                @for (bid of auction.bids; track bid) {
                            <div class="bid-user">

                    <div>
                    {{bid.username}}
                </div>
                <div>
                    {{bid.bidAmount}}
                </div>
                            </div>

                }

            }
        </div>
        
        }

        @case ('comment') {
        }

        @default {
        }
        }

    </div>
</div>